.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 20px; 
    }
    .navbar-right {
      display: flex;
      align-items: center;
    }
    
    .search {
      display: flex;
      justify-content: flex-start;
      border: 1px solid #aaa9a9;
      padding: 0 8px;
      border-radius: 20px;
      background-color: #fbfbfb;
      height: 36px;
      box-sizing: border-box
    }     
    .search-icon {
      font-size: 20px; 
      color: #666;
      margin-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search-input {
        flex: 1; 
        border: none;
        outline: none;
        font-size: 16px;
        background-color: transparent;
        height: 100%;
        margin: 0;
        margin-left: -8px;
        line-height: normal;
    }    

    .search:hover {
      background-color: #ffffff;
    }
    
    .search:focus-within {
      border: 1px solid #5b5b5b;
    }
  
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
  
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
      }
    }

    .profile-link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    .profile-link:hover {
      opacity: 0.8;
    }

    .logout-button {
      border: 0px;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px; 
      font-size: 16px; 
      color: inherit;
      margin-left: 8px; 
    }
  }
  
  